/* Give your page a fun background color */
body {background-color: blue;}
/* Make the header and footer a different color from the background */
h1 {background-color: black; color: white;}

footer {background-color: black; color: white;}
/* Align the h1 containing your name in the center of the header*/
h1 {text-align: center;}
/* Make your p tag a different color and italic */
p {font-style: italic; color: gold;}
/* Put a border around your image */
img {border-width: thin; border-style: dotted; border-color: black;}
/* Change the font-family of your list */
ul {font-family: fantasy; font-weight: bold;}
